{
  "token": "your bot token goes here",
  "prefix": "śo!",
  "bannedRoleName": "ŚOBot Ban",
  "modRoleName": "Moderator",
  "adminRoleName": "Admin",
  "ownerID": "your id goes here"
  "channelId": "484450221133135897"
}
